/* Reset browser's padding and margin */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Universal Styles */
@font-face {
  font-family: "Overpass";
  src: url("./src/fonts/overpass/overpass-regular.otf") format("otf"),
}

body {
    font-family: "Overpass";
    height: 100%;
    transition: all 0.5s ease;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    cursor: pointer; 
}

/* Nav Bar */
header {
    position: relative;
    z-index: 2;
    width: 100%;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

nav img {
    width: 300px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-field {
    width: 300px;
    padding: 7px 35px 7px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

#search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -2rem;
}

#search-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

main {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

/* Favorites List */
#sidebar {
    background-color:rgba(124,177,213,.5);
    width: 300px;
    transition: all 0.5s ease;
    padding: 2em;
    height: 100%;
}

#favorites-list {
    margin: auto 0;
    list-style-type: none;
}

#favorites-list li {
    display: flex;
    margin: 5px;
}

#favorites-list li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#favorites h2 {
    margin-bottom: .5em;
}

.delete-button {
    cursor: pointer;
    margin-right: 10px;
    color: #000;
    box-shadow: none;
    border: 1px solid #000;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 3px;
}

.delete-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.delete-button:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

/* Results */

#results {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1000px;
    min-height: 400px;
}

.makeup-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 10%;
    border: 4px solid rgba(124,177,213,.5);
}

.image-container {
    min-width: 30%;
}

.makeup-image {
    width: 100%;
    margin: 0 auto;
}

.makeup-text {
    margin-left: 1rem;
}

.product-description {
    list-style-type: "- ";
    list-style-position: inside;
}

.favorite-button {
    cursor: pointer;
    padding: 1em;
    text-transform: uppercase;
    font-size: .5em;
    letter-spacing: .25em;
    border: 0;
    background: rgba(124,177,213,.5);
    color: #000;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
    margin: 3em 0 1em 0;
}

.favorite-button:hover {
    background-color: #000;
    color: #fff;
}

.favorite-button:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.favorite-button:disabled {
    cursor: pointer;
    padding: 1em;
    text-transform: uppercase;
    font-size: .5em;
    letter-spacing: .25em;
    border: 0;
    background: lightgrey;
    color: grey;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
    margin: 3em 0 1em 0;
    font-style: italic;
}

#results h1 {
    margin: auto auto;
    font-weight: bold;
}