/* Reset browser's padding and margin */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Universal Styles */
@font-face {
  font-family: "Overpass";
  src: url("./src/fonts/overpass/overpass-regular.otf") format("otf"),
}

body {
    font-family: "Overpass";
}

svg {
    cursor: pointer; 
}

/* Nav Header*/
header {
    position: relative;
    z-index: 2;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
}

nav > img {
    width: 300px;
}

/* Search Bar */
#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-field {
    width: 300px;
    padding: 7px 35px 7px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

#search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -2rem;
}

#search-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Main */
div#results {
    display: flex;
    flex-direction: column;
}

.makeup-details {
    display: flex;
    align-items: center;
    padding: 5%;
    margin: 10% 10% 10% 30%;
    border: 2px solid rgba(124,177,213,.5);
}

.makeup-text {
    margin-left: 1rem;
}

.product-description {
    list-style-type: "- ";
    list-style-position: inside;
}

.makeup-image {
    width: 40%;
    margin: 0 auto;
}

/* Favorites List */

div#favorites {
    position: fixed;
    background-color:rgba(124,177,213,.5);
    top: 75px;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 20px 20px 40px;
    transition: all 0.5s ease;
}

#favorites-list {
    list-style-type: none;
}

#favorites-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search-button img {
    cursor: pointer;
}

.delete-button {
    cursor: pointer;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
}